.item {
  padding: 7px 15px;
  display: block;
  background: #3b73b3;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item:hover {
  background: #2a527f;
}

.item b {
  color: #dd9;
  font-weight: 800;
}

.item i {
  font-style: normal;
  font-weight: normal;
}

.item .empty {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
}